<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <welcome-file-list>
    <welcome-file>drinks.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>MountainDev</servlet-name>
    <servlet-class>com.wolken.cooldrinks.MountainDewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MountainDev</servlet-name>
    <url-pattern>/MountainDev</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Frooti</servlet-name>
    <servlet-class>com.wolken.cooldrinks.FrootiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Frooti</servlet-name>
    <url-pattern>/frooti</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Pepsi</servlet-name>
    <servlet-class>com.wolken.cooldrinks.PepsiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pepsi</servlet-name>
    <url-pattern>/pepsi</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sprite</servlet-name>
    <servlet-class>com.wolken.cooldrinks.SpriteServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sprite</servlet-name>
    <url-pattern>/sprite</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CocoCola</servlet-name>
    <servlet-class>com.wolken.cooldrinks.CocoColaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CocoCola</servlet-name>
    <url-pattern>/CocoCola</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Fanta</servlet-name>
    <servlet-class>com.wolken.cooldrinks.FantaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fanta</servlet-name>
    <url-pattern>/Fanta</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Limca</servlet-name>
    <servlet-class>com.wolken.cooldrinks.LimcaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Limca</servlet-name>
    <url-pattern>/Limca</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Mazza</servlet-name>
    <servlet-class>com.wolken.cooldrinks.MazzaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mazza</servlet-name>
    <url-pattern>/Mazza</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Mirinda</servlet-name>
    <servlet-class>com.wolken.cooldrinks.MirindaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mirinda</servlet-name>
    <url-pattern>/Mirinda</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Slice</servlet-name>
    <servlet-class>com.wolken.cooldrinks.SliceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Slice</servlet-name>
    <url-pattern>/Slice</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ThumsUp</servlet-name>
    <servlet-class>com.wolken.cooldrinks.ThumsUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThumsUp</servlet-name>
    <url-pattern>/ThumsUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Up</servlet-name>
    <servlet-class>com.wolken.cooldrinks.UpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Up</servlet-name>
    <url-pattern>/Up</url-pattern>
  </servlet-mapping>
  
</web-app>